.first , .third{
    height: 12em;
    width: 12em;
    padding: 3em;
   
    border-radius: 50%;
   
    margin: -2em;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes change{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.first{
    animation: change 0.4s ease-in infinite;
    border-top: 1em solid green;
    border-left: 1em solid blue;
}
.third{
    animation: changes 0.4s ease-in infinite;
    border-top: 1em solid rgb(136, 14, 65);
    border-left: 1em solid rgb(0, 174, 255);

}
@keyframes changes {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}
